<%= form_with model: @user do |f| %>
  <div class = "form-group">
    <label for="inputName">Name</label><br>
  <%= f.text_field :name, autofocus: true, id:"inputName form-control" ,class: "inputName form-control" %>
  </div>


  <div class = "form-group">
    <label for="inputImage">Image</label><br>
  <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
  </div>

<div class = "form-group">
  <label for="inputIntroduction">Introduction</label><br>
  <%= f.text_area :introduction, autofocus: true, id:"inputintroduction",class: "inputIntroduction form-control"  %>
</div>


  <div class = "form-group">
    <label for="inputAddress">Address</label><br>
  <%= f.text_field :address, autofocus: true, id:"inputAddress form-control" ,class: "inputAddress form-control" %>
  </div>

  <div class = "form-group">
    <label for="inputBirthday">Birthday</label><br>
  <%= f.text_field :birthday, autofocus: true, id:"inputBirthday form-control" ,class: "inputBirthday form-control" %>
  </div>



<div class = "form-group">
  <%= f.submit "Update User",class: "btn btn-secondary" %>
  <% end %>
</div>