<!DOCTYPE html>
<html>
  <head>
    <title>TwitterApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/bf1988bc9c.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        　<div class="container">
        　  <!--navbar-branはロゴを示す-->
      　    <a class="navbar-brand" href="/">Twitter_app</a>
           <!--ボタン要素にしてクリックで実行できるようにする-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!--ナビゲーションバーのコンテンツをおりたたんだりする-->
          <!--idを指定することでナビゲーションバーとメニューコンテンツを関連付け-->
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <!--ml-autoでリストを右側に配置-->
      　　    <ul class="navbar-nav ml-auto"
            <% if user_signed_in? %>
             <li>
              <%= link_to user_path(current_user),class: 'nav-link text-light' do %>
                <i class="fa-solid fa-user"></i> My Profile
              <% end %>
             </li>

             <li>
              <%= link_to new_tweet_path,class: 'nav-link text-light' do %>
                <i class="fa-brands fa-twitter"></i> Tweet
              <% end %>
             </li>

             <li>
              <%= link_to tweets_path,class: 'nav-link text-light' do %>
                <i class="fa-solid fa-house"></i> Home
              <% end %>
             </li>

             <li>
              <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link text-light' do %>
                <i class="fas fa-sign-out-alt"></i> Log out
              <% end %>
             </li>
              <% else %>
              <li>
              <%= link_to root_path,class: 'nav-link text-light' do %>
                <i class="fas fa-home"></i> Home
              <% end %>
              </li>
              <li>
                <%= link_to about_path,class: 'nav-link text-light' do %>
                  <i class="fas fa-link"></i> About
                <% end %>
              </li>
              <li>
                <%= link_to new_user_registration_path,class: 'nav-link text-light' do %>
                  <i class="fas fa-user-plus"></i> Sign up
                <% end %>
              </li>
              <li>
                <%= link_to new_user_session_path ,class: 'nav-link text-light' do %>
                  <i class="fas fa-sign-in-alt"></i> Log in
                <% end %>
               </li>
              <% end %>
           </ul>
          </div>
        </div>
      </nav>
     </header>


    <%= yield %>


    <footer>
  <div class='container mt-5'>
  	<div class='row'>
    	<div class='mx-auto'>
    		<p>welcome to <i class="fa-brands fa-twitter"></i><strong>Twitter</strong>  !！</p>
    	</div>
    </div>
  </div>
</footer>



  </body>
</html>
